body img {
    float: right;
    width: 20%;
}

body {
    font-family: Times, medium, black;
}

#courseTable {
    border-style: solid;
    border-width: 2px;
}

#courseTable td,#courseTable tr {
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

#me {
    margin-left: 10px;
    margin-bottom: 10px;
}

table p {
    font-size: small;
    text-align: center;
}

td img {
    width: 20%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.best {
    font-style: italic;
}

.links {
    background-color: lightgray;
}

.class {

}

#courseTable td:nth-child(odd) {
    text-align: center;
}

#courseTable tr:nth-child(odd) {
    background-color: yellow;
}
#courseTable tr:nth-child(even) {
    background-color: green;
}

footer img {
    width: 5%;
}
